{% extends 'sell.html' %}

{% block title %}
   Customers
{% endblock title %}

{% block head %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock head %}

{% block div %}
    <h1>All customers</h1>
    <br>
    <div class="box-element">
    <div class="cart-row">
        <div style="flex: 2">Name</div>
        <div style="flex: 1">Username</div>
        <div style="flex: 2">Email</div>
        <div style="flex: 2">Member Since</div>
        <div style="flex: 1"></div>
    </div>
        {% for customer in customers %}
            <div class="cart-row">
                <div style="flex: 2">{% if customer.realname %} {{ customer.realname }} {% else %} Empty {% endif %}</div>
                <div style="flex: 1">{{ customer.username }}</div>
                <div style="flex: 2">{{ customer.email }}</div>
                <div style="flex: 2">{{ customer.member_since }}</div>
                <div style="flex: 1"><a href="{{ url_for('user', username=customer.username) }}" class="btn btn-outline-primary">View</a></div>
            </div>
        {% endfor %}
    </div>
    <br>
  {{ pagination.links }}
{% endblock %}


