{% extends 'main.html' %}

{% block title %}
    Cart
{% endblock %}

{% block head %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href='{{ url_for("index") }}'>&#x2190; Continue Shopping</a>

                <br>
                <br>

                <table class="table">
                    <tr>
                        <th><h5>Items: {{ numberCart }}</h5></th>
                        <th><h5>Total: {{ total | vnd }} </h5></th>
                        <th>
                            <a id="checkout" style="float: right; margin: 5px;" class="btn btn-success" href={{ url_for('checkout') }}>Checkout</a>
                        </th>
                    </tr>
                </table>
            </div>

            <br>

            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 2"></div>
                    <div style="flex: 2">Item</div>
                    <div style="flex: 1">Price</div>
                    <div style="flex: 1">Quantity</div>
                    <div style="flex: 1">Total</div>
                    <div style="flex: 1"></div>
                </div>
                {% if order_details %}
                    {% for item in order_details %}
                            <div class="cart-row">
                                {% if item.product_id | getProductImage %}
                                    <div style="flex: 2"><img class="row-image" src={{ url_for('static', filename='product_image/' + item.product_id | getProductImage) }}></div>
                                {% else %}
                                    <div style="flex: 2"><img class="row-image" src={{ url_for('static', filename='images/placeholder.png') }}></div>
                                {% endif %}
                                <div style="flex: 2">{% if item.name %}{{ item.name }}{% else %}{{ item.product_id | getProductName }}{% endif %}</div>
                                <div style="flex: 1">{{ item.price | vnd  }}</div>
                                <div style="flex: 1">
                                    <p class="quantity">{{ item.quantity }}</p>
                                    <div class="quantity">
                                        <img data-product={{ item.product_id }} data-action='add' class="chg-quantity update-cart" src={{ url_for('static', filename='images/arrow-up.png') }}>
                                
                                        <img data-product={{ item.product_id }} data-action='remove' class="chg-quantity update-cart" src={{ url_for('static', filename='images/arrow-down.png') }}>
                                    </div>
                                </div>
                                <div style="flex: 1">{{ (item.price * item.quantity) | vnd }}</div>
                                <div style="flex: 1">
                                    <i data-product={{ item.product_id }} data-action='delete' class="chg-quantity update-cart icon-remove"></i>
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}


{% block footer %}
    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            <h6>PAYMENT METHODS</h6>
            <div class="icon-container">
                <i class="fa fa-cc-paypal"></i>
                <i class="fa fa-credit-card" aria-hidden="true"></i>
            </div>
            </div>


            <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
            </div>

            <div class="col-xs-6 col-md-3">
            <h6>CONTACT</h6>
            <ul class="footer-links">
                <li><a href="#">Address: U Minh, Ca Mau</a></li>
                <li><a href="#">Phone: 091934xxxx</a></li>
                <li><a href="#">Email: nvkha97@gmail.com</a></li>
            </ul>
            </div>
        </div>
        <hr>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
        <a href="#">Scanfcode</a>.
            </p>
            Logo created by <a href="https://www.designevo.com/logo-maker/" title="Free Online Logo Maker">DesignEvo logo maker</a>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
            </div>
        </div>
        </div>
    </footer>
{% endblock %}