{% extends "main.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href={{  url_for('static', filename='css/signin.css') }}>
{% endblock head %}

{% block content %}
<form class="form-signin text-center" action={{ url_for('change_password') }} method="post">
    <img class="mb-3" src={{ url_for('static', filename='images/my-logo.png') }} alt="" height="100" width="250">
    <input name="password_old" type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password Old" required>
    <input name="password_new" type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password New" required>
    <input name="password_again" type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password New (again)" required>
    
    <button class="btn btn-lg btn-primary btn-block mb-2 mt-4" type="submit">Confirm</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    <p>Logo created by <a href="https://www.designevo.com/logo-maker/" title="Free Online Logo Maker">DesignEvo logo maker</a></p>
{% endblock %}


