{% extends 'main.html' %}

{% block title %}
    Login • Lotus
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href={{  url_for('static', filename='css/signin.css') }}>
{% endblock head %}


{% block content %}
  <form class="form-signin text-center" action={{ url_for('login') }} method="post">
    <img class="mb-3" src={{ url_for('static', filename='images/my-logo.png') }} alt="" height="100" width="250">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control mb-2 rounded-0" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block mb-2 mt-4" type="submit">Login</button>
    <label>Don't have an account? <a href={{ url_for('signup') }} style="color: blue;">Sign up</a></label>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    <p>Logo created by <a href="https://www.designevo.com/logo-maker/" title="Free Online Logo Maker">DesignEvo logo maker</a></p>
  </form>
{% endblock content %}